body{
  background-color: #fff;
  color: #000;
  margin: 0;
}




.logoname a{
  color: #000;
  text-decoration: none;
  position: fixed;
  }

  .logoname a:hover{
    color: rgb(0, 0, 255);
    }

.logoname{
display: block;
text-align: right;
  padding-top: 25px;
  padding-right: 100px;

}
/*
.imagename {
  max-width: 300px;
  padding: 20px;
}

.menu ul{
  position: fixed;
  list-style-type: none;
  padding: 20px;
  padding-top: 0px;
}

.menu li{

}

.menu a{
  text-decoration: none;
  color: #000;
}

.menu a:hover{
  color: rgb(0, 0, 255);
  }

*/


section{
  max-width: 30em;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}


header{
  background: #fff;
  color: rgb(0, 0, 255);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




footer{
  background: linear-gradient(to bottom, rgba(240,175,206,1) 0%, rgba(247,217,219,1) 100%);
  color: #fff;
  padding: 3em;
}

footer::before{
  content: " ";
  background-color: #f0afce;
  display: block;
  height: 25px;
  width: 100%;
  left: 50%;
  position: absolute;
  transform:translateX(-50%)translateY(-5.2em);
}

.firstsection{
background: linear-gradient(to bottom, rgba(240,175,206,1) 0%, rgba(247,217,219,1) 100%);
    color: #fff;
    padding-top: 3em;
    padding-bottom: 3em;
  text-align: center;
}
.textfirst{
  margin-left: 70px;
  margin-right: 70px;
  font-style: italic;
}

.firstsection::after{
  content: " ";
  background-color: #f7d9db;
  display: block;
  height: 25px;
  width: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%)translateY(4em);
}

.artwork ul{
  list-style-type: none;
  margin: 0;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li{
  max-width: 300px;
  position: relative;
}

img{
  width: 100%;
}

li span {
  position: absolute;
  top : 40%;
  display: none;
  transition: all 0.3s ease;
}

li a img {
transition: all 0.3s ease;
}

li:hover span {
  display: block;
}

li:hover a img {
/*    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    filter: grayscale(98%);*/
    filter: opacity(30%);
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(0, 0, 255);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

span{
  padding: 30px;
  position: fixed;
  top: -15px;
}

.Iam {
  padding: 5em 9em;
  font: normal 40px/50px Futura, sans-serif;
  color: #000;

}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
  margin-bottom: 0px;
  margin-top: 0px;
}

.afterIam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #e0e0e5
}

.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 0px;
}
.Iam .innerIam {
  display: inline-block;
  color: rgb(0, 0, 255);
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


animation:move 5s;

animation-delay:1s;
}



@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }


}
